@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/google-sans";
@import "@fontsource-variable/google-sans-flex";
@import "@fontsource-variable/google-sans-code";

@custom-variant dark (&:is(.dark *));
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Google Sans Variable", ui-sans-serif, system-ui, sans-serif;
  --font-heading:
    "Google Sans Flex Variable", ui-sans-serif, system-ui, sans-serif;
  --font-mono:
    "Google Sans Code Variable", ui-sans-serif, system-ui, sans-serif;
}

@theme inline {
  --font-heading: "Google Sans Flex Variable", sans-serif;
  --font-sans: "Google Sans Variable", sans-serif;
  --font-mono: "Google Sans Code Variable", sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-wrap {
  width: min(1080px, calc(100% - 2rem));
  margin-inline: auto;
}

:root {
  --background: #fff8f2;
  --foreground: #393125;
  --card: #fff7f4;
  --card-foreground: #393125;
  --popover: #fff8f2;
  --popover-foreground: #393125;
  --primary: #775b1b;
  --primary-foreground: #fff8f1;
  --secondary: #6d5d40;
  --secondary-foreground: #fff8f1;
  --muted: #eee1ce;
  --muted-foreground: #675e4f;
  --accent: #845433;
  --accent-foreground: #fff7f4;
  --destructive: #b3261e;
  --border: #eee1ce;
  --input: #fdf2e4;
  --ring: #775b1b;
  --chart-1: #775b1b;
  --chart-2: #845433;
  --chart-3: #6d5d40;
  --chart-4: #837969;
  --chart-5: #675e4f;
  --radius: 0.625rem;
  --sidebar: #fff8f2;
  --sidebar-foreground: #393125;
  --sidebar-primary: #775b1b;
  --sidebar-primary-foreground: #fff8f1;
  --sidebar-accent: #845433;
  --sidebar-accent-foreground: #fff7f4;
  --sidebar-border: #eee1ce;
  --sidebar-ring: #775b1b;
}

.dark {
  --background: #110e08;
  --foreground: #f1e4d1;
  --card: #1e1910;
  --card-foreground: #f1e4d1;
  --popover: #1e1910;
  --popover-foreground: #f1e4d1;
  --primary: #e2c287;
  --primary-foreground: #523d0e;
  --secondary: #d9c4a0;
  --secondary-foreground: #4c3e24;
  --muted: #2c2519;
  --muted-foreground: #b5aa98;
  --accent: #ffc6a2;
  --accent-foreground: #683d1e;
  --destructive: #f2b8b5;
  --border: #2c2519;
  --input: #17130b;
  --ring: #e2c287;
  --chart-1: #e2c287;
  --chart-2: #ffc6a2;
  --chart-3: #d9c4a0;
  --chart-4: #7e7464;
  --chart-5: #b5aa98;
  --radius: 0.625rem;
  --sidebar: #1e1910;
  --sidebar-foreground: #f1e4d1;
  --sidebar-primary: #e2c287;
  --sidebar-primary-foreground: #523d0e;
  --sidebar-accent: #ffc6a2;
  --sidebar-accent-foreground: #683d1e;
  --sidebar-border: #2c2519;
  --sidebar-ring: #e2c287;
}

@utility scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
